body {
    margin: 0;
}

.oppdatert {
    margin-left: 300px;
    width: 700px;
}

.cookie {
    text-align: center;
}

.info {
    font-weight: bolder;
    color: #403d39;
}

.overskrift {
    font-weight: bolder;
    font-size: 25px;
}

.introduksjons {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-left: 300px;
}

.list {
    width: 850px;
}

.notat {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
  border-left: 6px solid #adb5bd;
  margin-top: 10px;
  gap: 48%;
}

.hidden {
  text-indent: 100%;
    white-space: nowrap;
  overflow: hidden;
  margin-bottom: -25px;
}

.hidden2 {
  text-indent: 100%;
  white-space: nowrap;
overflow: hidden;
margin-bottom: -75px;
}

.open {
  color: black;
}

.open2 {
  color: black;
}

.colorText {
  color: green;
}

.fa-angle-down {
  color: black;
  cursor: pointer;
}

.fa-angle-up {
  color: black;
  cursor: pointer;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flexBox {
  flex-basis: 33%; 
  padding-top: 20px;
  box-sizing: border-box;
  margin-right: 115px;
}

